{% extends 'accounts/base.html' %}
{% load static %}
{% block stylesheet %}
    <link href="{% static 'css/bodypad.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/mailstyle.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Inbox</h2>
        </div>
        <div class="col-md-8">
            <a href="#"  onclick="window.history.back()" class="btn btn-default keep-inline"><span class="glyphicon glyphicon-triangle-left"></span></a>
            <a href="{% url 'message_delete' pk=message.id %}" class="btn btn-default keep-inline pull-right"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <hr/>
    <div class="row">
         <div class="col-md-4">
            <div class="list-group">
              <li class="list-group-item"><a class="btn btn-success btn-block" href="{% url 'message_compose' %}">Compose</a></li>
              <a href="{% url 'message_inbox' %}" class="list-group-item">Inbox
              <span class="badge">{{ mail_inbox }}</span>
              <span class="badge">{{ mail_inbox_unread }}</span>
              </a>
              <a href="{% url 'message_drafts' %}" class="list-group-item">Drafts
              <span class="badge">{{ mail_drafts }}</span>
              </a>
              <a href="{% url 'message_sent' %}" class="list-group-item">Sent
              <span class="badge">{{ mail_sent }}</span>
              </a>
              <a href="{% url 'message_trash' %}" class="list-group-item">Trash
              <span class="badge">{{ mail_trash }}</span>
              </a>
            </div>
        </div>
        <div class="col-md-8">
            <h4>{{ message.sender.username }}</h4>
            <h5>{{ message.subject }}</h5>
            <p>{{ message.content }}</p>
        </div>

    </div>


    </div>
{% endblock %}
{% block scripts %}

{% endblock %}